# pharos sources
[submodule "pharos"]
	path = src/pharos
	url = git@github.com:iris-kaist/pharos.git
[submodule "pharos_driver"]
	path = src/pharos_driver
	url = git@github.com:iris-kaist/pharos_driver.git
[submodule "pharos_localization"]
	path = src/pharos_localization
	url = git@github.com:iris-kaist/pharos_localization.git
[submodule "pharos_map"]
	path = src/pharos_map
	url = git@github.com:iris-kaist/pharos_map.git
[submodule "pharos_perception"]
	path = src/pharos_perception
	url = git@github.com:iris-kaist/pharos_perception.git
[submodule "pharos_planning"]
	path = src/pharos_planning
	url = git@github.com:iris-kaist/pharos_planning.git
[submodule "pharos_tele"]
	path = src/pharos_tele
	url = git@github.com:4336/pharos_tele.git
# external sources
[submodule "src/external_source/carla_ros_bridge"]
	path = src/external_source/carla_ros_bridge
	url = git@github.com:4336/carla_ros_bridge.git
[submodule "src/external_source/ros-g29-force-feedback"]
	path = src/external_source/ros-g29-force-feedback
	url = git@github.com:kuriatsu/ros-g29-force-feedback.git
