<launch>
  <arg name="delay" default="0.0"/>
  <arg name="prefix" default=""/>
  <param name="/rover/delay" value="$(arg delay)"/>
  <node pkg="udp_bridge" type="udp_bridge_node" name="sender_bridge" ns="rover">
    <rosparam>
      port: 2201
      <!-- maxPacketSize: 25 -->
      remotes:
        receiver:
          host: 192.168.2.200
          port: 2200
          topics:
             data1: /CAN_Gateway
             data2: /front_cam/camera_info
    </rosparam>
  </node>

  <node pkg="topic_tools" type="relay" name="rover_data1" args="/CAN_Gateway /rover/data1"/>
  <node pkg="topic_tools" type="relay" name="rover_data2" args="/front_cam/camera_info /rover/data2"/>


  <node if="$(eval arg('delay') == 0)" pkg="topic_tools" type="relay" name="station_data1" args="/station/data1 /master/interface" launch-prefix="bash -c 'sleep 2; $0 $@' " />
  <node if="$(eval arg('delay') == 0)" pkg="topic_tools" type="relay" name="station_data2" args="/station/data2 /ping/CAN_Gateway" launch-prefix="bash -c 'sleep 2; $0 $@' " />


  <include if="$(eval arg('delay') != 0)" file="$(find pharos_topic_relay)/launch/rover.launch">
    <arg name="delay" value="$(arg delay)" />
    <arg name="prefix" value="$(arg prefix)" />
  </include>
</launch>

